
<div [class]="parent" id="about">
    <h2 [class]="mainColor" >ABOUT</h2>
    <div class="svg m-3"> <i [style]="iconColor" class="fa fa-star text-white"></i> </div>
    <div class="container w-100">
        <div class="row">
            <div class="shadow-lg col-md-6 p-5 text-white">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cupiditate dolorum quas vero, minus, ipsum dignissimos sit accusamus maxime laborum necessitatibus nam explicabo debitis ratione illo, quisquam alias quia iste! Ex, commodi eligendi sed qui ipsa exercitationem expedita. Enim quis, id error eius quasi libero dolore voluptates ullam aliquam repellendus.</p>
            </div>
            <div class="shadow-lg col-md-6 p-5 text-white">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cupiditate dolorum quas vero, minus, ipsum dignissimos sit accusamus maxime laborum necessitatibus nam explicabo debitis ratione illo, quisquam alias quia iste! Ex, commodi eligendi sed qui ipsa exercitationem expedita. Enim quis, id error eius quasi libero dolore voluptates ullam aliquam repellendus.</p>
            </div>
        </div>
    </div>

</div>