<div [class]="parent">
    <h2 [class]="mainColor" >CONTACT ME</h2>
    <div class="svg m-3"> <i [style]="iconColor" class="fa fa-star"></i> </div>

    <div class="row d-flex w-100 position-relative justify-content-center ">
        <div class="col-md-8">
        <form class="">
            <input type="text" class="form-control w-100 p-3 " placeholder="Name...">
            <input type="text" class="form-control w-100 p-3 mt-4" placeholder="Email Adress">
            <input type="text" class="form-control w-100 p-3 mt-4" placeholder="Phone Number">
            <input type="text" class="form-control w-100 p-3 mt-4" placeholder="Message">
            <button class="btn btn-info position-absolute text-white">Send</button>
        </form>
    </div>
    </div>
</div>

<!-- <ng-template #message>
    <div class="text-center  bg-danger">
        <h2>No Data for Table</h2>
    </div>
</ng-template> -->