<section id="protofolio">
    <div [class]="parent">
        <!-- <h1 [style]="productPrice<200 ? 'color:red':'color:blue'">I am a
            Frontend Developer</h1> -->
            <!-- <button id="bt" class="btn btn-info">click me</button> -->
        <div> <h2 [style]="mainColor">PROTOFOILO</h2></div>
        <!-- <input [(ngModel)]="userName" type="text" class="form-control w-75">
        <h3 [style]="mainColor"> Hellow : {{userName}} </h3>
        <h2 [class]="productPrice> 800 ? 'text-danger':'text-success'"
            class="text" >You are Good</h2> -->
        <div class="svg m-3"> <i [style]="iconColor" class="fa fa-star"></i>
        </div>

        <div class="gallery">
            <div class="container">

                <div class="row">
                    <!-- <div   (click)="getUrl(this.x)" *ngFor="let x of src" class="col-md-4 mt-3">
                        <div  class="parent">
                       <img src={{x}} class="w-100 rounded" alt="">
        <div  class="layer d-flex align-items-center justify-content-center"> <i id="bt"  class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div> -->
                    <div class="col-md-4 mt-3" id="1">
                        <div class="parent 1">
                            <img src="../../assets/cabin.png" class=" w-100" alt="">
                            <div  class=" layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3" id="2">
                        <div class="parent 2">
                            <img src="../../assets/submarine.png" class=" w-100" alt="">
                            <div  class="layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3" id="3">
                        <div class="parent">
                            <img src="../../assets/cake.png" class="w-100" alt="">
                            <div  class="layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3" id="4">
                        <div class="parent">
                            <img src="../../assets/circus.png" class="w-100" alt="">
                            <div  class="layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3" id="5">
                        <div class="parent">
                            <img src="../../assets/game.png" class="w-100" alt="">
                            <div  class="layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3" id="6">
                        <div class="parent">
                            <img src="../../assets/safe.png" class="w-100" alt="">
                            <div  class="layer d-flex align-items-center justify-content-center"> <i   class="fa-solid fa-plus fa-5x text-white"></i></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="caption ">
        
<!-- <div class="child-caption d-flex justify-content-center position-relative w-100">
    </div> -->
   

    <div class="image">
        <img width="50%" src="" alt="">
        <div class="ico  w-auto " > 
            <i class="fa-solid fa-xmark fa-2x"></i> 
        </div>
                </div>

    </div>
</section>