#home{
    background-color: #1ABC9C;
    color: #fff;
    width: 100%;
}
body{
    background-color: #1ABC9C;
}
.svg{
    position: relative;
}
.svg::before{
    content: "";
    background-color:#fff ;
    width: 100px;
    height: 6px;
    position:absolute;
    top: 50% ;
    left: 75px;
    border-radius: 10px;
}
.svg::after{
    content: "";
    background-color:#fff ;
    width: 100px;
    height: 6px;
    position:absolute;
    top: 50% ;
    right: 75px;
    border-radius: 10px;
}